body{
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: justify;
  background-color: purple;
  font-family: fantasy;
  font-size: 15pt;
  color: goldenrod;
}

header{
  margin: 0;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #960d58;
}
header a{
  margin: 0;
}
header a{
  margin-left: 15px;
  text-decoration: none;
}
header a:hover{
  color: #01b10a;
}

main{
  margin: 0 15px;
  padding: 10px;
  flex: auto;
  background-color: rgb(70, 2, 70);
}
main p{
  margin: 15px 0;
}
main div{
  padding: 5px;
}
main input, button{
  padding: 5px;
  font: 16pt Calibri;
  border: 2px solid #929292;
  border-radius: 5px;
}
main input[type="number"]{
  width: 60px;
}
main input[type="submit"]{
  font-weight: bold;
  color: white;
  border-color: #706e00;
  border-radius: 5px;
  background-color: #e9ec12;
}
main input[type="submit"]:hover{
  color: white;
  border-color: rgb(138, 9, 9);
  background-color: red;
  cursor: pointer;
}